<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="mt-4">
    <h3>Registro de Jugador</h3>
    <form #jugadorForm="ngForm" (ngSubmit)="onSubmit(jugadorForm)">
      <div class="form-group">
        <label for="nombre">Nombre del Jugador</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          [(ngModel)]="jugador.nombre"
          required
          #nombre="ngModel"
        />
        <div
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="nombre.errors?.['required']">El nombre es requerido</div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="posicion">Posición</label>
        <input
          type="text"
          class="form-control"
          id="posicion"
          name="posicion"
          [(ngModel)]="jugador.posicion"
          required
          maxlength="4"
          #posicion="ngModel"
        />
        <div
          *ngIf="posicion.invalid && (posicion.dirty || posicion.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="posicion.errors?.['required']">
            La posición es requerida
          </div>
          <div *ngIf="posicion.errors?.['maxlength']">
            La posición no puede exceder 4 caracteres
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="dorsal">Número Dorsal</label>
        <input
          type="number"
          class="form-control"
          id="dorsal"
          name="dorsal"
          [(ngModel)]="jugador.dorsal"
          required
          #dorsal="ngModel"
        />
        <div
          *ngIf="dorsal.invalid && (dorsal.dirty || dorsal.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="dorsal.errors?.['required']">
            El número dorsal es requerido
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success mt-3"
        [disabled]="jugadorForm.invalid"
      >
        Registrar Jugador
      </button>
    </form>
  </div>

  <!-- Lista de jugadores registrados -->
  <div class="col-12 mt-4 d-flex flex-column align-items-center">
    <!-- Mostrar mensaje si no hay jugadores registrados -->
    <div *ngIf="jugadores.length === 0" class="alert alert-success mt-3">
      No hay jugadores registrados.
    </div>
    <div class="d-flex gap-3 flex-wrap">
      <!-- Mostrar tarjetas si hay jugadores -->
      <div *ngFor="let jugador of jugadores; let i = index" class="card my-2">
        <div class="card-header">
          <h4>{{ jugador.nombre }}</h4>
        </div>
        <div class="card-body">
          <h6 class="card-title">Detalles del Jugador</h6>
          <p class="card-text">Posición: {{ jugador.posicion }}</p>
          <p class="card-text">Dorsal: {{ jugador.dorsal }}</p>
        </div>
        <div class="card-footer text-body-secondary">
          <button
            type="button"
            class="btn btn-danger"
            (click)="eliminarJugador(i)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
