<div class="container-fluid">
    <div class="row m-5">
        <div class="col-md-12 text-center">
        <img src="https://ssl.gstatic.com/onebox/media/sports/logos/GL0VV8hksLFgS4sQ9yXq4Q_64x64.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row m-5">
        <div class="col-md-12 text-center text-wrap">
            <h1>Bienvendios a el seguidor MX</h1>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-md-12 text-center text-wrap">
            <h1>Seleccione en la parte superior derecha de nuestro menú de navegación la sección que desea gestionar.</h1>
        </div>
    </div>
</div>
